<nav class="navigation">
  <div class="navigation__center">
    <div class="navigation__left">
		 <span class="name">Daisuke<br>Furuya</span>
    </div>
    <div class="navigation__right">
			<li class="curled-box"> 
			  <%= link_to "https://www.facebook.com/The-Shed-2057322334337309", class: "contents__btn" do %>
		  	<%= fa_icon 'facebook' %>
			  <% end %></li>
			<li class="curled-box"> 
		  	<%= link_to "https://twitter.com/", class: "contents__btn" do %>
			  <%= fa_icon 'twitter' %>
			  <% end %></li>
			<li class="curled-box">
		  	<%= link_to "https://www.instagram.com/theshed_jp/?hl=ja", class: "contents__btn" do %>
			  <%= fa_icon 'instagram' %>
			  <% end %></li>
			<button class="navbar__menu--btn" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="pt-1">Menu</span> <span class="contents__btn"></span>
			  <%= fa_icon 'bars'%>
    </div>
  </div>
</nav>

<div class=contents>
  <div class=contents__block>
		<ul class=contents__block--one></ul>
		<ul class=contents__block--two></ul>
		<ul class=contents__block--three></ul>
		<ul class=contents__block--four></ul>
		<ul class=contents__block--five></ul>
	</div>
	<div class=contents__title>
	  <span class=contents__title--words>Good line never gets old.</span>
	</div>
  <ul class=contents__bottom>
  <a class="contents__bottom--button" href="#">Register</a>
	</ul>
</div>

